<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 *ngIf = "requests.length == 0">No Requets!</h2>
    </div>
    <div *ngFor = "let r of requests" class="card">
        <img class="card-img-top" *ngIf = "r.photoUrl" [src]="r.photoUrl">
        <div class="card-body">
            <p class="card-title">{{r.name}}</p>
        </div>
        <button type="button" (click) = "accept(r.uId)" class="btn btn-primary">Accept</button>
        <br>
        <button type="button" (click) = "decline(r.uId)" class="btn btn-default">Decline</button>
    </div>
  </div>
</div>
