<div class="container">
  <div class="row headingContainer">
    <h3>Choose an app</h3>
  </div>
  <div class="row">
    <div class="appContainer waitlistContainer col-md-6 col-sm-12">
      <div class="text-container" routerLink="/waitlist">
          <h5>Waitlist</h5>
      </div>
    </div>
    <div class="appContainer releaseTrackerContainer col-md-6 col-sm-12">
        <div  class="text-container" 
              routerLink="/release-tracker"
        >
            <h5>Release Tracker</h5>
        </div>
    </div>
  </div>
</div>