<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">Waitlist</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>
      <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ appUser.name }}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <ng-container>
            <a *ngIf="appUser.isAdmin" class="dropdown-item" routerLink="/admin/manage-users">Manage Users</a>
            <!-- <a *ngIf="appUser.isUser" class="dropdown-item" routerLink="/new-pr">Add New PR</a> -->
          </ng-container>
          <a class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
      </li>
    </ul>
    <ul *ngIf="appUser" class = "request-list navbar-nav">
        <li *ngIf="appUser.isAdmin && appUser.isUser" class="nav-item switchContainer">
            <div class="onoffswitch">
                <input type="checkbox"
                       name="onoffswitch"
                       class="onoffswitch-checkbox"
                       id="myonoffswitch" 
                       #onoffswitch = "ngModel"
                       [(ngModel)] = "allowMoving"
                       (change) = "sortSwitch(onoffswitch.value)"
                       >
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"><i class="fa fa-arrows"></i></span>
                </label>
            </div>
        </li>
        <li *ngIf="appUser.isUser" class="nav-item">
            <a routerLink="/new-pr" class="btn btn-primary btn-md">
              <span class="glyphicon glyphicon-plus-sign">Add New PR</span>
            </a>
        </li>
        <li class="nav-item">
            <button (click) = "openRequests()" *ngIf="appUser.isAdmin" type="button" class="btn btn-primary badgeButton">
                Access Requests <span class="badge badge-light">{{requests}}</span>
            </button>
        </li>
    </ul>
  </div>
</nav>