<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a *ngIf = "appSwitch"  class="navbar-brand" routerLink="/">
    <!-- (click)="isCollapsed = !isCollapsed" -->
      <span *ngIf = "appSwitch == '/' || appSwitch.includes('login')"><p>Internal Apps</p></span>  
      <span *ngIf = "appSwitch.includes('waitlist')"><p>Internal Apps | <span class="appName">Waitlist</span> </p></span>
      <span *ngIf = "appSwitch.includes('release-tracker')"><p>Internal Apps | <span class="appName">Release Tracker</span> </p></span>
  </a>
  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a (click)="isCollapsed = !isCollapsed; login()" class="nav-link">Login</a>
        </li>
      </ng-template>
      <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ appUser.name }}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <ng-container>
            <a (click)="isCollapsed = !isCollapsed" *ngIf="appUser.isAdmin" class="dropdown-item" routerLink="waitlist/admin/manage-users">Manage Users</a>
            <!-- <a *ngIf="appUser.isUser" class="dropdown-item" routerLink="/new-pr">Add New PR</a> -->
          </ng-container>
          <a (click)="isCollapsed = !isCollapsed" *ngIf="appUser.isUser" class="dropdown-item" routerLink="waitlist/logs">Sprint Logs</a>
          <a (click)="isCollapsed = !isCollapsed" class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
      </li>
    </ul>
    <ul  *ngIf="appUser && appSwitch && appSwitch.includes('waitlist')" class = "request-list navbar-nav">
        <li *ngIf="appUser.isAdmin && appUser.isUser" class="nav-item switchContainer">
            <div class="onoffswitch">
                <input type="checkbox"
                       name="onoffswitch"
                       class="onoffswitch-checkbox"
                       id="myonoffswitch" 
                       #onoffswitch = "ngModel"
                       [(ngModel)] = "allowMoving"
                       (change) = "sortSwitch(onoffswitch.value)"
                       >
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"><i class="fa fa-arrows"></i></span>
                </label>
            </div>
        </li>
        <li *ngIf="appUser.isUser" class="nav-item">
            <a (click)="isCollapsed = !isCollapsed" routerLink="waitlist/new-pr" class="btn btn-primary btn-md">
              <span class="glyphicon glyphicon-plus-sign">Add New PR</span>
            </a>
        </li>
        <li class="nav-item">
            <button (click)="isCollapsed = !isCollapsed" routerLink="waitlist/admin/requests" *ngIf="appUser.isAdmin" type="button" class="btn btn-primary badgeButton">
                Access Requests <span class="badge badge-light">{{requests}}</span>
            </button>
        </li>
    </ul>
    <ul *ngIf="appUser && appSwitch && appSwitch.includes('release-tracker')" class = "request-list navbar-nav">
      <li class="nav-item">
        <button (click)="isCollapsed = !isCollapsed" routerLink="release-tracker/admin/requests" *ngIf="appUser.rtAdmin" type="button" class="btn btn-primary badgeButton">
            Access Requests <span class="badge badge-light">{{rtRequests}}</span>
        </button>
      </li>
    </ul>
  </div>
</nav>