
.btn , .dropdown-toggle { 
  cursor: pointer;
}
.request-list{
  float: right;
}
.badgeButton{
  margin-left: 15px;
}

.onoffswitch {
  position: relative; width: 48px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  margin: 14px 30px 0px 10px;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 11px; padding: 0; line-height: 11px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #007bff; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: flex; width: 32px; height: 32px; margin: -10.5px; 
  background: rgb(129, 129, 129);
  position: absolute; top: 0; bottom: 0;
  right: 33px;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
  align-items: center;
  justify-content: center;
  color: white;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}
.switchContainer{
  display: flex;
  flex-direction: row
}
.switchContainer > p{
  color: rgb(160, 160, 160);
  margin: 6px 0px 0px 0px;
}

@media only screen and (max-width: 600px) {
  .request-list{
    float: left;
  }
  .request-list > li{
    margin: 10px;
  }
  .badgeButton{
    margin-left: 0px;
  }
}
.navbar-brand > span > p{
  margin-bottom: 0rem !important;
}
.appName{
  font-size: 14px;
}

