<ul class="timeline-container">
  <div class="track-contianer">
      <div class="track"></div>
  </div>
  <div class="timeline-item-container">
              <div  *ngFor = "let s of statuses">
                <li class="timeline-item">
                    <div class="dot-container">
                        <div class="dot"></div>
                    </div>
                    <div class="header">Feature Readiness Meeting With Leads</div>
                </li>
                <li class="content-container">
                    <div class="dot-container">
                        <div class="marginer"></div>
                    </div>
                    <div class="content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati rem animi repellendus vel error unde assumenda minus possimus aliquam quibusdam voluptate repudiandae dolorem praesentium, cupiditate dolorum id consequuntur saepe laudantium!

                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati rem animi repellendus vel error unde assumenda minus possimus aliquam quibusdam voluptate repudiandae dolorem praesentium, cupiditate dolorum id consequuntur saepe laudantium!
                    </div>
                </li>
              </div>
  </div>
</ul>