.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* width: 200px;
    height: 200px; */
}
.my-card{
    position: relative;
    max-width: 80px;
    max-height: 80px;
}
.img{
    margin: 20px;
}
.btn{
    width: 180px;
    cursor: pointer;
}