.main-container{
    display: flex;
    flex-direction: row;
}
.sidebarContainer{
    width: 20%;
    min-width: 238px;
}
.bodyContainer{
    width: 80%;
    margin-top: 56px;
    padding: 15px;
    height: calc(90vh);;
    overflow-y: auto;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
