<form #f = "ngForm" (ngSubmit) = save(f.value)>
  <div class="form-group">
    <label for="name">Name</label>
    <select #name = "ngModel" [(ngModel)] = "pr.name" name = "name" id="name" class="form-control">
      <option value=""></option>
        <option *ngFor = "let a of activeUsers" [value] = "a.name">{{a.name}}</option>
    </select>
  </div>
  <div class="form-group">
      <label for="status">Status</label>
      <select #status = "ngModel" [(ngModel)] = "pr.status" name = "status" id="status" class="form-control">
        <option value=""></option>
        <option *ngFor = "let s of statuses$ | async" [value] = "s.name">{{s.name}}</option>
      </select>
  </div>
  <div class="form-group">
      <label for="link">GitHub URL</label>
      <input #link = "ngModel" [(ngModel)] = "pr.link" name = "link" id="link" class="form-control" type="text">
  </div>
  <button class="btn btn-primary">Save</button>
  <!-- <button type="button" (click) = "delete()" class="btn btn-danger">Delete</button> -->

</form>