<div *ngIf = "appUser" class="container">
  <div *ngIf = "!appUser.rtUser && !isRequested" class="row requestContainer">
      <div class="requestContainer col-md-9">
        <p class="requestHeader">Sorry! You don't have access to make changes.</p>
      </div>
      <button (click) = "rtRequest()" class="requestButton btn btn-xs col-md-2" type="button">Request Access</button>
    </div>
    <br>
    <div *ngIf = "!appUser.rtUser && isRequested" class="row requestContainer green">
      <p class=" requestHeader col-md-12">Your recent request has been submitted. Awaiting response!</p>
    </div>
</div>
