<div class="alert alert-danger small">
  <p>Waitlist for mobile is in development.<br>All the features may not be available.</p>
</div>
<request></request>
<sprint></sprint>
<div>
    <input class="col-md-12" (keyup) = "getQuery(query.value)" #query type = "text"  class="form-control" placeholder="Search by name or status...">
</div> 
<br>
<div class="row" *ngIf = "loading; else loaded">
  <div class="col-md-12 loadingContainer">
    <spinner></spinner>
  </div>
</div>
<ng-template #loaded>
  <table [@fadeInOnEnter] class="table col-md-12 medium" >
    <thead>
        <tr>
          <th class='handle' *ngIf = "appUser"></th>
            <th>Id</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Link</th>
            <th>Status</th>
            <th *ngIf = "appUser"></th>
            <th *ngIf = "appUser"></th>
        </tr>
    </thead>
    <tbody  [sortablejs]="prs" [sortablejsOptions]="scrollableOptions">
        <tr *ngFor = "let pr of prs" [ngClass]="{'includes': queryValue ? pr.status.concat(' ', pr.name).toLowerCase().includes(queryValue) : ''}"
        >
            <td *ngIf = "appUser"><a *ngIf = "appUser.isUser && sortable"><i class="fa fa-arrows isEnabled "></i></a></td>
            <td>{{pr.sortId}}</td>
            <td>{{pr.name}}</td>
            <td>{{pr.createdDate | timeAgo}}</td>
            <td><a class="link" target="_blank" [href]="pr.link">Open in GitHub</a>  <span class="prNumber">{{pr.link.substr(pr.link.length - 4, pr.link.length)}}</span> </td>
            <td>{{pr.status}}</td>
            <td *ngIf = "appUser"><a *ngIf = "appUser.isUser" [routerLink] = "['/prs/', pr.$key]" ><i class="fa fa-edit fam"></i></a></td>
            <td *ngIf = "appUser"><a (click) = "delete(pr.$key)" *ngIf = "appUser.isUser"><i class="fa fa-trash  fam"></i></a></td>
        </tr>
    </tbody>
  </table>
  <!--  -->

  <!-- small screens -->
  <div class="table col-md-12 small">
    <tbody [sortablejs]="prs" [sortablejsOptions]="scrollableOptions">
          <tr class="prCard" *ngFor = "let pr of prs" [ngClass]="{'includes': query.value ? pr.status.concat(' ', pr.name).toLowerCase().includes(query.value.toLowerCase()) : ''}"
          >
              <td *ngIf = "appUser"><a *ngIf = "appUser.isUser && sortable"><i class="fa fa-arrows "></i></a></td>
              <td>{{pr.sortId}}</td>
              <td>{{pr.name}}</td>
              <td>{{pr.createdDate | timeAgo}}</td>
              <td><a target="_blank" [href]="pr.link">Open in GitHub</a></td>
              <td>{{pr.status}}</td>
              <td *ngIf = "appUser"><a *ngIf = "appUser.isUser" [routerLink] = "['/prs/', pr.$key]" ><i class="fa fa-edit fam"></i></a></td>
              <td *ngIf = "appUser"><a (click) = "delete(pr.$key, pr)" *ngIf = "appUser.isUser"><i class="fa fa-trash  fam"></i></a></td>
          </tr>
    </tbody>
  </div>
</ng-template>

<div class="undoContainer">
    <undo [visible] = "visible" (switch) = "undo($event)"></undo>
</div>




